.navbar {
  margin-bottom: 2rem;
  border-bottom: 0.125rem solid hsl(0, 0%, 30%);
}

.archive-year {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.archive-date {
  float: right;
  margin-left: 1rem;
}

.archive-item {
  margin-bottom: 0.5rem;
}

.footer-container {
  text-align: center;
}

.footer-icons {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.footer-icon-links {
  text-decoration: none;
}

.archive-title {
  color: #212529;
  text-decoration: none;
}

.highlight {
  background-color: #272822;
}

pre.highlight {
  padding: 1rem;
}

.svg-shadow {
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.25));
}
